
.color-default{
  color: #333;
  background-color: #fff;

}
.color-primary{
  color: #fff;
  background-color: #2d8cf0;

}
.color-light-primary{
  color: #fff;
  background-color: #5cadff;

}
.color-dark-primary{
  color: #fff;
  background-color: #2b85e4;

}
.color-success{
  color: #fff;
  background-color: #5cb85c;

}
.color-info{
  color: #fff;
  background-color: #5bc0de;

}
.color-warning{
  color: #fff;
  background-color: #f0ad4e;
}
.color-danger {
  color: #fff;
  background-color: #d9534f;

}
.color-disabled{
  color: #fff;
  background-color: #bbbec4;
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.btn-default{
  color: #333;
  background-color: #fff;

}
.btn-primary{
  color: #fff;
  background-color: #2d8cf0;
}
.btn-light-primary{
  color: #fff;
  background-color: #5cadff;
}
.btn-dark-primary{
  color: #fff;
  background-color: #2b85e4;

}
.btn-success{
  color: #fff;
  background-color: #5cb85c;

}
.btn-info{
  color: #fff;
  background-color: #5bc0de;

}
.btn-warning{
  color: #fff;
  background-color: #f0ad4e;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;

}
.btn-disabled{
  color: #fff;
  background-color: #bbbec4;
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}