
.right-body {
  .activity-bar-top {
	display: flex;
	.type-item {
	  flex-grow: 1;
	  float: left;
	  height: 138px;
	  text-align: center;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  background: #ffffff;
	  i{
		font-size: 40px
	  }
	}
	.type-item:first-child {
	  margin-right: 30px;
	}
	.acticity-process {
	  border: 1px solid #01aaef;
	  box-shadow: 0 0 3px #01aaef;
	}
  }
  .activity-bar-bottom {
	//line-height: 72px;
	padding-left: 25px;
	.reward-title {
	  float: left;
	  margin-right: 10px;
	}
	.reward-choose {
	  float: left;
	  width: 240px;
	  height: 40px;
	  line-height: 40px;
	  padding-left: 20px;
	  border-radius: 4px;
	  border: 1px solid #efefef;
	  margin-top: 16px;
	  margin-right: 120px;
	  outline: none;
	  position: relative;
	  .cite {
		content: "";
		position: absolute;
		right: 10px;
		top: 40%;
		width: 0;
		height: 0;
		border-top: 8px solid #666666;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		cursor: pointer;
	  }
	  .reward-droplist {
		position: absolute;
		top: 100%;
		left: -2px;
		border: 1px solid #efefef;
		border-radius: 4px;
		z-index: 3;
		background: #ffffff;
		max-height: 400px;
		li {
		  line-height: 40px;
		  padding-left: 20px;
		  width: 240px;
		}
		li:hover {
		  background: #efefef;
		}
	  }
	}
	.search-box {
	  margin-left: 20px;
	  float: left;
	  input {
		width: 240px;
		height: 38px;
		line-height: 38px;
		padding-left: 45px;
		border-radius: 4px;
		border: 1px solid #efefef;
		margin-right: 28px;
		background: url("../../assets/images/search.png") no-repeat 20px center;
	  }
	}
  }
  .search-activity{
	margin-top: 25px;
  }
}

