.add-button {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  margin-left: 50px;
}

.staff-table {
  table {
	thead{
	  tr{

		th:nth-child(2){
		  width: 15%;
		}
		th:nth-child(3){
		  width: 12%;
		}
		th:nth-child(5){
		  width: 8%;
		}

	  }
	}
	tbody {
	  tr {
		td {
		  span {
			height: 38px;
			line-height: 38px;
			padding: 0 20px;
		  }
		  &:nth-child(4) {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		  }
		}
		.status {
		  width: 8%;
		}
	  }
	}
  }
}