.nav-navicon {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: #2d3463;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  .header {
	height: 70px;
	background: #01aaef;
	font-size: 24px;
	font-weight: bold;
	line-height: 70px;
	color: #ffffff;
	text-align: center;
	letter-spacing: 2px;
  }
  .nav-body {
	padding-top: 28px;
  }

  .am-icon-volume-up {
	line-height: 48px;
	.show-nav-name {
	  overflow: hidden;
	  padding-left: 20px;
	  height: 72px;
	  line-height: 72px;
	  border-bottom: #414773 1px solid;
	  p {
		font-size: 16px;
		cursor: pointer;
		color: #ffffff;
		float: left;
	  }
	  .icon-l {
		float: left;
		width: 15px;
		margin-right: 10px;
		margin-top: 28px;
	  }
	  .icon-r {
		float: right;
		margin-right: 30px;
		margin-top: 25px;
	  }
	}
	.m-height-light {
	  p {
		color: #ffffff;
	  }
	  .icon-r1 {
		margin-top: 15px;
	  }
	}
  }
  .nav-column {
	transition: all .5s ease;
	background: #272d5d;
	li {
	  //width: 100%;
	  padding-left: 28px;
	  overflow: hidden;
	  height: 60px;
	  line-height: 60px;
	  //border-bottom: 1px solid #efefef;
	  .icon-circle {
		float: left;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #ffffff;
		margin-top: 27px;
		margin-right: 10px;
	  }

	  p {
		//margin-left: 34px;
		float: left;
		color: #ffffff;
		font-size: 16px;
	  }
	  .icon-arrow {
		float: right;
		margin-right: 30px;
		margin-top: 22px;
	  }

	}
	li:hover {
	  background: #0189c0;
	}
	.light-height {
	  background: #0189c0;
	}
	.draw-gray-bg {

	  //border-left: 4px solid #ed5564;
	}
  }
  .nav-footer {
	flex: 1;
  }
}

