.account-header {
  display: flex;
  height: 138px;
  .base-info {
	flex: 1;
	background: #ffffff;
	border: 1px solid #dbdee7;
	text-align: center;
	line-height: 138px;
  }
  .company-info {
	margin-left: 60px;
  }
  .current-item {
	border: 1px solid #01aaef;
	color: #01aaef;
  }
}

.personal-box {
  //background: #ffffff;
  //margin-top: 20px;
  //border-radius: 4px;
  border: 1px solid #efefef;
  padding-top: 5px;
  font-size: 14px;
  padding-left: 60px;
  .detail-info {
	margin-top: 42px;
	overflow: hidden;
	.title {
	  float: left;
	  margin-right: 35px;
	  text-align: right;
	  width: 85px;
	  line-height: 40px;
	}
	.title-content {
	  float: left;
	  line-height: 40px;
	  .phone-number {
		float: left;
	  }
	  .mod-number {
		//float: left;
		//color: #ef4f4f;
		//margin-left: 25px;
		//background: url("../../assets/images/modify.png") no-repeat left center;
		//padding-left: 20px;
	  }
	}
	.name {
	  padding-left: 38px;
	}
	input {
	  width: 330px;
	  height: 40px;
	  line-height: 40px;
	  outline: none;
	  border: 1px solid #efefef;
	  border-radius: 4px;
	  padding-left: 20px;
	  float: left;
	}
  }
  .save-mod {
	margin-left: 120px;
  }
}

.cancel-btn {
  border-radius: 4px;
  border: 1px solid #ef4f4f;
  background: none;
  color: #ef4f4f;
  margin-left: 50px;
}

.admin-calendar-table {
  overflow: hidden;
  div {
	line-height: 40px;
	text-indent: 1em;
	margin-bottom: 20px;
	overflow: hidden;
	p {
	  display: inline-block;
	  width: 90px;
	  text-align: right;
	}
	span {
	  margin-left: 15px;
	}
	input {
	  margin-left: 15px;
	  height: 34px;
	  line-height: 36px;
	  border: 1px solid #cccccc;
	  font-size: 14px;
	}
	textarea {
	  width: 280px;
	  margin-left: 15px;
	  height: 74px;
	  line-height: 16px;
	  font-size: 14px;
	  text-indent: 1em;
	  padding: 5px;
	  border: 1px solid #cccccc;
	}
	textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
	  font-size: 14px;
	  color: #cccccc;
	}
	textarea:-ms-input-placeholder, input:-ms-input-placeholder {
	  font-size: 14px;
	  color: #cccccc;
	}
	textarea:-ms-input-placeholder, input:-ms-input-placeholder {
	  font-size: 14px;
	  color: #cccccc;
	}
	textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
	  font-size: 14px;
	  color: #cccccc;
	}
  }
  .base-info {
	font-size: 16px;
  }
  .base-origin {
	float: left;
	margin-left: 250px;
	input {
	  font-size: 14px;
	}
  }
  .base-way {
	float: left;
  }

  .base-operate {
	clear: both;
	float: left;
	width: 686px;
	display: flex;
	justify-content: center;
	.button {
	  text-align: center;
	  line-height: 36px;
	  cursor: pointer;
	  text-indent: 0;
	}
	.button:last-child{
	  margin-left: 100px;
	}
  }
  label {
	cursor: pointer;
  }
}

.pop-edit {
  overflow: hidden;
  .show-recharge-tips {
	margin-top: 20px;
  }

}
.add-platform {
	background: #ffffff;
}
.refresh-btn{
  padding: 0 20px;
}
.pay-success{
  line-height: 40px;
  padding: 30px 0;
  text-align: center;
}