.role-bar{
  height: 74px;
  line-height: 74px;
  font-size: 14px;
  margin-bottom: 25px;
}
.add-role-btn {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  margin-left: 50px;
}
.role-del-btn{
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
}