
.right-bar {
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  border-top: 1px solid #efefef;
  ul {
	li {
	  float: left;
	  margin-left: 75px;
	  height: 50px;
	}
	.active {
	  border-bottom: 2px solid #ed5564;
	}
  }
}

.activity-detail-box {
  margin-top: 20px;
  border: 1px solid #efefef;
  border-radius: 4px;
  .activity-detail-top {
	padding: 0 10px;
	background: #ffffff;
	.activity-title-detail {
	  border-bottom: 1px solid #efefef;
	  height: 74px;
	  line-height: 74px;
	  overflow: hidden;
	  padding-left: 30px;
	  p {
		float: left;
		margin-right: 95px;
		span {
		  margin-left: 25px;
		}
		.number {
		  font-weight: bold;
		  font-size: 22px;
		}
	  }
	}
	.activity-record {
	  overflow: hidden;
	  height: 48px;
	  line-height: 48px;
	  padding-left: 30px;
	  p {
		float: left;
		margin-right: 75px;
	  }
	  .selected {
		color: #ed5564;
	  }
	}
  }
  .activity-table {
	background: #ffffff;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #efefef;
	table {
	  tr:first-child {
		font-weight: bold;
	  }
	  tr:last-child {
		border: none;
	  }
	  tr:nth-of-type(2n-1) {
		background: #f7fbfc;
	  }
	  tr {
		height: 54px;
		line-height: 54px;
		border-bottom: 2px solid #efefef;
		td {
		  border-right: 1px dashed #efefef;
		  text-align: center;
		  position: relative;
		}
		td:last-child {
		  border: none;
		}
		.cancel-contact {
		  color: #ed5564;
		}
		.reward {
		  text-decoration: underline;
		}
		label:first-child {
		  margin-right: 20px;
		}
	  }
	}
  }
}

.activity-rule {
  margin-top: 20px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background: #ffffff;
  padding-top: 24px;
  font-size: 16px;
  height: 100%;
  .rule-form {
	margin-bottom: 30px;
	overflow: hidden;
	.rule-name{
	  font-weight: bold;
	  margin-right: 25px;
	  width: 160px;
	  text-align: right;
	  float: left;
	}
	.rule-text{
	  float: left;
	  line-height: 30px;
	}
  }
}
.activity-bag{
  margin-top: 20px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;

  .left-page {
	width: 65%;
	float: left;
	.mask {
	  margin-top: 35px;
	  margin-left: 215px;
	}
  }
  .phone-box {
	margin-top: 36px;
	.phone-bg {
	  margin: auto;
	  height: 640px;
	  width: 320px;
	  background-image: url("../../assets/images/phone.png");
	  background-size: cover;
	  background-repeat: no-repeat;
	  position: relative;
	  .screen-bg {
		width: 257px;
		height: 456px;
		position: absolute;
		left: 40px;
		top: 93px;
		background-image: url("../../assets/images/bag-bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		.head-img {
		  margin: 88px auto 0;
		  width: 56px;
		  height: 56px;
		  border: 1px solid #feda95;
		  border-radius: 50%;
		  img {
			width: 100%;
			height:100%;
			// object-fit: cover;
			border-radius: 50%;
		  }
		}
		.nick-name {
		  margin-top: 15px;
		  text-align: center;
		  color: #feda95;
		  height: 20px;
		  line-height: 20px;
		}
		.blessing-text {
		  text-align: center;
		  margin-top: 18px;
		  color: #feda95;
		  height: 20px;
		  line-height: 20px;
		}
		.choose-btn {
		  position: absolute;
		  bottom: 40px;
		  left: 55%;
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  justify-content: center;
		  margin-left: -35px;
		  img {
			width: 32px;
			height: 32px;
		  }
		  p {
			height: 20px;
			line-height: 20px;
			color: #feda95;
		  }
		}

	  }
	  .screen {
		background: #ffffff;
		display: flex;
		flex-direction: column;
		.phone-header {
		  height: 24px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  text-align: center;
		  line-height: 24px;
		  div:first-child {
			width: 60px;
			color: #5ab0ef;
		  }
		  div:nth-child(2) {
			flex: 1;
		  }
		  div:last-child {
			width: 40px;
		  }
		}
		.phone-body {
		  flex: 1;
		  background-image: url("../../assets/images/body-bg.png");
		  background-size: 100% 100%;
		  background-position: 0 -120px;
		  background-repeat: no-repeat;
		  .head-pic {
			margin: 36px auto 10px;
			position: relative;
			width: 56px;
			height: 56px;
			border: 1px solid #feda95;
			border-radius: 50%;
			img {
			  width: 100%;
			  border-radius: 50%;
			}
		  }
		  p {
			color: #feda95;
			min-height: 20px;
			text-align: center;
			font-size: 12px;
		  }
		  .bag-from{
			font-size: 12px;
			height: 20px;
			margin-bottom: 8px;
		  }
		  .money {
			margin-top: 16px;
			font-size: 16px;
			span{
			  font-size: 24px;
			  margin-right: 5px;
			}
		  }
		  .plat{
			margin-top: 10px;
		  }
		  .save{
			width: 126px;
			height: 26px;
			background: #feda95;
			border-radius: 20px;
			margin: auto;
			line-height: 25px;
			text-align: center;
		  }
		  .total-pay{
			margin-top: 10px;
		  }
		  .hw{
			width: 68px;
			height: 18px;
			margin: 50px auto 0;
			img{
			  width: 100%;
			}
		  }
		  .company{
			color: #999;
			margin-top: 20px;
		  }
		  .save{
			margin-top: 35px;
		  }
		  .total-money{
			margin-top: 70px;
			span{
			  font-size: 24px;
			  margin-right: 5px;
			}
		  }
		  .save-money{
			margin-top: 10px;
		  }
		  .zfb{
			width: 60px;
			height: 20px;
			position: absolute;
			bottom: 18px;
			left: 50%;
			margin-left: -30px;
			img{
			  width: 100%;
			}
		  }
		}
	  }
	}
  }
  .right-page {
	float: left;
	.edit {
	  margin-top: 25px;
	}
	.edit-form {
	  margin-top: 28px;
	  .upload{
		width: 240px;
		height: 180px;
		border: none;
		background: #f4f4f4;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		img{
		  margin-bottom: 10px;
		}
		.load-img{
		  position: absolute;
		  width: 240px;
		  height: 180px;
		  outline: none;
		  text-decoration: none;
		}
	  }
	  p{
		margin-bottom: 20px;
	  }
	  .input {
		width: 330px;
		height: 40px;
		line-height: 40px;
		outline: none;
		resize: none;
		border: 1px solid #efefef;
		border-radius: 4px;
		padding-left: 10px;
	  }
	  input[type=file] {
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 100px;
		line-height: 0;
		right: 0;
		top: 0;
		opacity: 0;
		cursor: pointer;
		text-decoration: none;
		filter: alpha(opacity=0);
	  }
	  .textarea {
		outline: none;
		resize: none;
		width: 330px;
		height: 130px;
		padding: 20px;
		border: 1px solid #efefef;
	  }
	}
  }
  .button-box{
	width: 100%;
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	.activity-btn{
	  width: 190px;
	  height: 42px;
	  line-height: 42px;
	}
	.next{
	  margin-right: 80px;
	}
  }
}
