.right-body {
  .plat-rule, .seller-rule {
	margin-bottom: 20px;
	background-color: #ffffff;
	font-size: 14px;
	padding-left: 20px;
	overflow: hidden;
	height: auto;
	.g-title {
	  margin-left: 0;
	}
	.plat-setting {
	  margin-bottom: 20px;
	  span {
		display: inline-block;
		width: 80px;
		margin-left: 10px;
		height: 36px;
		border: 1px solid #01aaef;
		text-align: center;
		line-height: 36px;
		cursor: pointer;
	  }
	  p {
		margin-top: 5px;
		font-size: 12px;
		color: #cccccc;
	  }
	}
  }
}


.pop-edit {
  .show-recharge-tips {
	margin-top: 0px;
	text-align: left;
	margin-left: 20px;
  }
  .tree-box {
	div {
	  width: 100%;
	  margin-bottom: 10px;
	  input {
		outline: none;
		border: none;
		height: 30px;
		width: 200px;
		line-height: 30px;
		border: 1px solid #cccccc;
	  }
	  #box1, #box2 {
		height: 15px;
		width: 15px;
		cursor: pointer;
	  }
	  #box1 {
		margin-left: 180px;
	  }
	  #box2 {
		margin-left: 60px;
	  }
	}
	.tips {
	  text-indent: 7em;
	  color: #f2687a;
	}
	.button {
	  height: 36px;
	  line-height: 36px;
	  text-align: center;
	  float: left;
	  width: 80px;
	  border: 1px solid #01aaef;
	  cursor: pointer;
	  margin-left: 106px;
	  margin-top: 30px;
	  &:nth-last-of-type(1) {

		margin-left: 40px;
	  }
	}
  }
}

.pop-edit {
  width: 600px;
}

.seller-rule {
  padding-bottom: 20px;
  .seller-setting {
	overflow: hidden;
  }
  .seller-price {
	float: left;
  }
  .seller-range {
	float: left;
	p {
	  line-height: 36px;
	  &:nth-of-type(1) {
		line-height: 22px;
	  }
	}
  }
  .button {
	height: 36px;
	line-height: 36px;
	text-align: center;
	float: left;
	width: 50px;
	border: 1px solid #01aaef;
	cursor: pointer;
  }
}

.seller-red {
  display: block;
  margin-top: 25px;
  overflow: hidden;

  .seller-support {
	float: left;
	line-height: 38px;
  }

  .button {
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 50px;
	float: left;
	border: 1px solid #01aaef;
	cursor: pointer;
  }
}

label{
  cursor: pointer;
}

